/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style */
     /* text color */
.dark1{
  color: #131313;
}
.dark2{
  color: #424242;
}
.dark3{
  color: #727272;
}
.dis-flex{
  display: flex;
}
.bg-color1{
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar */
.navbar{
  justify-content: space-between;
  max-width: 1440px;
  margin: 0px auto;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
}