/* font style */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display{
  display: hide;
}
/* text color */
.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.dis-flex {
  display: flex;
}
.bg-color1 {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn1 {
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: 600;
  color: #ffffff;
  padding: 20px 24px;
  margin-bottom: 50px;
}
.max-width {
  max-width: 1280px;
  margin: auto;

}

/* navbar */
.brand-logo {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 20px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}
/* banner */
.banner {
  
 
}
.banner-titel {
  font-size: 4rem;
  font: 700;
  margin: 20px auto;
}
.banner-details {
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  margin-bottom: 20px;
}

.banner-content {
  margin: 0 auto;
  text-align: center;
}
.banner-image {
  width: 100%;
}
/* features */

.features {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  margin-top: 150px;
}
.features-team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blog-titel {
  font-size: 2.8rem;
  font-weight: 700;
}
.blog-paragraph {
  font-size: 1rem;
  font-weight: 600;
  max-width: 537px;
  margin-bottom: 70px;
}
#features {
  color: #ff900e;
}
.features-blog {
  
  align-content: space-around;
}
#Quick {
  color: #727272;
  font-weight: 500;
}
.team {
  border-radius: 8px;
  width: 100%;
}
/* love and enjoy */

.love-enjoy {
  display: flex;
  justify-content: space-between;
  margin: 150px auto;

  align-items: center;
}
.love-enjoy h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.love-enjoy-head {
  font-size: 2.8rem;
  font-weight: 700;
}
#love-titel {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
  margin: 30px
}
.love-card {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  max-width: 590px;
  margin-top: 20px;
}
.love-enjoy img {
  width: 100%;
  

}

/* some facts */
.some-facts-head {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 20px 0;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  
}
.facts-container img {
  margin-top: 46px;
}
.fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
}
.facts-card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.some-facts h4 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
.some-facts h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin-top: 2px;
}
/* sponspors */
.sponspors{
 text-align: center;
  margin: 130px auto;
  
}
.sponspors h3{
  font-size: 2.8rem;
  font-weight: 600;
}


.company{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  
}
.company img{
  filter: grayscale(100%);
}

/* footer */
footer {
  height: 150px;
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
 
  margin-bottom: 100px;
  box-sizing bottom: 100px;
}
footer p {
  font-size: 1.25rem;
  font-weight: 400;
}
  
  



@media screen and (max-width:576PX ) {
  *{
    
    box-sizing: border-box;
  }
 
  .navbar,
  .features {
    flex-direction: column;
  }
  .features-team {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .team {
    width: 100%;
  }
  .features-blog {
    justify-items: center;
    text-align: center;
  }
  .love-enjoy {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  /* .love-enjoy img{
    width: 100%;
    
  } */
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  footer p {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    width: 100%;  
  }
  .company{
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
 

  }
